body {
    background-image: url("../images/bg1.jpg"); 
    padding-top: 70px;
}

.deleteNote {
	display: inline-block;
}

.previousNotes {
    display: inline-block;
    width: 90%
}

#scrape {
    margin: 8px 0px;
}
.jumbotron,.panel-heading{
    background-color: black;
    color: white;
} 
.panel-body{
    background-color: peachpuff;
    font-weight: bold;

} 
.navbar{
    background-color: black;
    color: white;
}